* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(25, 25, 39);
    color: #222;
}

.container {
    width: 800px;
    margin: 40px auto;
    background: #fff;
    padding: 50px;
    border-radius: 15px;
}

/* Cabeçalho */
header {
    text-align: center;
    margin-bottom: 40px;
}

h1 {
    font-size: 32px;
    font-weight: 600;
}

.subtitle {
    font-size: 14px;
    color: #555;
    margin-top: 5px;
}

/* Seções */
section {
    margin-bottom: 28px;
}

h2 {
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 12px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 4px;
}

h3 {
    font-size: 15px;
    margin-bottom: 4px;
}

.item span {
    font-size: 13px;
    color: #666;
}

p {
    font-size: 14px;
    line-height: 1.6;
}

ul {
    margin-left: 18px;
    margin-top: 6px;
}

li {
    font-size: 14px;
    margin-bottom: 4px;
}

.simple-list {
    list-style: disc;
}

/* Grid dados pessoais */
.info-grid p {
    margin-bottom: 4px;
    font-size: 14px;
}

a {
  color: #1a73e8;
  text-decoration: none;
  font-weight: 500;
  position: relative;
  transition: color 0.3s ease;
}

a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -3px;
  left: 0;
  background: linear-gradient(90deg, #1a73e8, #6a11cb);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

a:hover {
  color: #6a11cb;
}

a:hover::after {
  transform: scaleX(1);
}


/* Ajuste para impressão */
@media print {
    body {
        background: white;
        color: black; /* Garante que o texto base seja preto */
    }

    /* Remove a cor azul e o sublinhado de todos os links */
    a, a:visited {
        text-decoration: none;
        color: black; 
    }

    .container {
        width: 100%;
        margin: 0;
        padding: 20px;
    }
}
